[submodule "nut"]
	path = nut
	url = git@github.com:ThiccMC/nut
[submodule "web"]
	path = web
	url = git@github.com:ThiccMC/thicc-web
[submodule "lilypot"]
	path = lilypot
	url = git@github.com:ThiccMC/lilypot
